name: Release

on:
  push:
    branches: ["main-dev"]

env:
  BUILD_TYPE: Release

jobs:
  versioning:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
    - uses: actions/setup-node@v3
    - run: npm install && npx semantic-release


  build_conan_packages:
    name: Build conan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
        with:
          persist-credentials: false
          ref: 'main'

      - name: Get ustore 
      - run: |
          git clone https://github.com/unum-cloud/ustore.git
          cd ustore/ && git checkout main-dev && git submodule update --init --recursive

      - name: Install deps
        run: |
          sudo apt update
          sudo apt install -y python3 python3-dev python3-pip build-essential cmake

      - name: Prepare CMake, Conan and PyArrow
        run: python -m pip install --force-reinstall conan==1.60.1

      - name: Install ustore dependencies using conan
        run: |
          conan profile new --detect default
          conan profile update settings.compiler=gcc default
          conan profile update settings.compiler.version=11 default
          conan profile update settings.compiler.libcxx=libstdc++11 default
          conan create . unum/x86_linux --build=missing

      - name: Create conan packages zip
        run: cd ~/.conan && tar -czvf ustore_deps_x86_linux.tar.gz data/
                
      - name: Upload archives to release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: ~/.conan/ustore_deps_x86_linux.tar.gz
          update_latest_release: true

  build_conan_packages_python:
    name: Build conan for python builds
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
        with:
          persist-credentials: false
          ref: 'main'

      - name: Get ustore 
      - run: |
          git clone https://github.com/unum-cloud/ustore.git
          cd ustore/ && git checkout main-dev && git submodule update --init --recursive
          mv ../conanfile.py .

      - name: Install deps
        run: |
          sudo apt update
          sudo apt install -y python3 python3-dev python3-pip build-essential cmake

      - name: Prepare CMake, Conan and PyArrow
        run: python -m pip install --force-reinstall conan==1.60.1

      - name: Install ustore dependencies using conan
        run: |
          conan profile new --detect default
          conan profile update settings.compiler=gcc default
          conan profile update settings.compiler.version=11 default
          conan profile update settings.compiler.libcxx=libstdc++11 default
          conan create . unum/x86_linux --build=missing

      - name: Create conan packages zip
        run: cd ~/.conan && tar -czvf ustore_deps_x86_linux_python.tar.gz data/
                
      - name: Upload archives to release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: ~/.conan/ustore_deps_x86_linux_python.tar.gz
          update_latest_release: true